@import "tailwindcss";

body {
  background-color: oklch(20.8% 0.042 265.755);
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
}

.border {
  color: oklch(62.7% 0.194 149.214);
}

.title {
  color: oklch(62.7% 0.194 149.214);
  font-size: 4rem;
}

.subtitle {
  color: oklch(62.7% 0.194 149.214);
}
